.bg-dark {
    background-color: #003466 !important;
}

@media only screen and (max-width: 991px) {

    .header-title .display-3,
    .footer-title .display-3 {
        font-size: 1rem;
    }

    .header-title small {
        display: none;
    }

    .header-social {
        display: none;
    }
}

.navbar-toggler {
    color: rgba(0, 114.75, 229.5, .5);
    border-color: rgba(0, 114.75, 229.5, .1);
}

.bg-italia .navbar-toggler {
    color: rgba(255, 255, 255, .5);
    border-color: rgba(255, 255, 255, .5);
}

.bg-italia .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar .navbar-collapse .menu-wrapper {
    width: 100%;
}

.navbar .navbar-collapse .menu-wrapper .navbar-nav {
    padding: 0;
}

.navbar .navbar-collapse .navbar-nav li a.nav-link {
    color: #FFF;
}

.navbar .navbar-collapse .navbar-nav li:first-child a.nav-link {
    padding-left: 0;
}

.navbar .dropdown-menu .link-list-wrapper ul li h3,
.navbar .dropdown-menu .link-list-wrapper ul li a i,
.navbar .dropdown-menu .link-list-wrapper ul li a span {
    color: #FFF;
}

@media only screen and (min-width: 992px) {
    .it-header-navbar-wrapper nav .navbar-collapse .menu-wrapper {
        background: 0 0;
    }

    .navbar .navbar-collapse .menu-wrapper {
        position: inherit;
        top: auto;
        bottom: auto;
        right: auto;
        left: auto;
        overflow-y: visible;
        -webkit-transform: none;
        transform: none;
        -webkit-transition: none;
        transition: none;
        background: #06c;
    }

    .navbar .dropdown-menu .link-list-wrapper ul li a i,
    .navbar .dropdown-menu .link-list-wrapper ul li a span {
        color: #0073e6;
    }
}

/* SERVIZI */
.servizi .card {
    position: relative;
}

.servizi .card .card-title {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 10px 20px;
    width: 70%;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem
}

.card-body-link {
    color: white;
}

/**/


/* Notizie in primo piano */
.card-header {
    position: relative;
}

.card-header .card-text {
    border-left: 4px solid;
    padding-left: 10px;
}

.card-header .card-text.orange {
    border-color: #FF9700;
}

.card-header .card-text.azure {
    border-color: #32D6D5;
}

.card-header .card-text.violet {
    border-color: #7A73FF;
}

/**/


/*Link utili*/
.bg-link {
    background-color: #275380;
}

.bg-link .view-all .btn-outline-primary {
    color: #fff;
    background-color: transparent;
    background-image: none;
    box-shadow: inset 0 0 0 2px #fff;
}

.bg-link .view-all .btn-outline-primary:hover {
    color: #e6e6e6;
    box-shadow: inset 0 0 0 2px #e6e6e6;
}

.bg-link .view-all .btn-outline-primary.focus,
.bg-link .view-all .btn-outline-primary:focus {
    box-shadow: inset 0 0 0 2px #fff, 0 0 0 .2rem rgba(255, 255, 255, .5);
}


/*CAROUSEL*/
.carousel-control-next,
.carousel-control-prev {
    top: 0;
}

.carousel-control-prev {
    right: 3em;
}

.carousel-control-next {
    right: 0;
}
/**/

.footer a {
    color: #333;
    text-decoration: underline;
}

.footer .list-group-item {
    background: transparent;
    border-color: #FFF;
}
ul.link-list .list-item {
    color:#0073e6;
}

#myCarousel .carousel-caption {
    left:0;
    right:0;
    bottom:0;
    text-align:left;
    padding:10px;
    background:rgba(0,0,0,0.6);
    text-shadow:none;
}

#myCarousel .list-group {
    position:absolute;
    top:0;
    right:0;
}
#myCarousel .list-group-item {
    border-radius:0px;
    cursor:pointer;
}
#myCarousel .list-group .active {
    background-color:#eee;	
}

.carousel {
    background-color: #444e57; 
    padding: 0;
}

@media (min-width: 992px) { 
    #myCarousel {padding-right:33.3333%;}
    #myCarousel .carousel-controls {display:none;} 	
}
@media (max-width: 991px) { 
    .carousel-caption p,
    #myCarousel .list-group {display:none;} 
}
/* carousel*/

.carousel-inner>.item {
    display: none;
    position: relative;
    -webkit-transition: .6s ease-in-out left;
    transition: .6s ease-in-out left
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    display: block;
    max-width: 100%;
    height: auto;
    line-height: 1
}

.carousel-inner>.active,
.carousel-inner>.next,
.carousel-inner>.prev {
    display: block
}

.carousel-inner>.active {
    left: 0
}

.carousel-inner>.next,
.carousel-inner>.prev {
    position: absolute;
    top: 0;
    width: 100%
}

.carousel-inner>.next {
    left: 100%
}

.carousel-inner>.prev {
    left: -100%
}

.carousel-inner>.next.left,
.carousel-inner>.prev.right {
    left: 0
}

.carousel-inner>.active.left {
    left: -100%
}

.carousel-inner>.active.right {
    left: 100%
}

.carousel-control {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15%;
    opacity: .5;
    filter: alpha(opacity=50);
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6)
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, .5) 0), color-stop(rgba(0, 0, 0, .0001) 100%));
    background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1)
}

.carousel-control.right {
    left: auto;
    right: 0;
    background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, .0001) 0), color-stop(rgba(0, 0, 0, .5) 100%));
    background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1)
}

.carousel-control:hover,
.carousel-control:focus {
    outline: 0;
    color: #fff;
    text-decoration: none;
    opacity: .9;
    filter: alpha(opacity=90)
}

.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block
}

.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
    left: 50%
}

.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
    right: 50%
}

.carousel-control .icon-prev,
.carousel-control .icon-next {
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    font-family: serif
}

.carousel-control .icon-prev:before {
    content: '\2039'
}

.carousel-control .icon-next:before {
    content: '\203a'
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    margin-left: -30%;
    padding-left: 0;
    list-style: none;
    text-align: center
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0)
}

.carousel-indicators .active {
    margin: 0;
    width: 12px;
    height: 12px;
    background-color: #fff
}

.carousel-caption {
    position: absolute;
    left: 15%;
    right: 15%;
    bottom: 20px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6)
}

.carousel-caption .btn {
    text-shadow: none
}

@media screen and (min-width:768px) {
    .carousel-control .glyphicons-chevron-left,
    .carousel-control .glyphicons-chevron-right,
    .carousel-control .icon-prev,
    .carousel-control .icon-next {
        width: 30px;
        height: 30px;
        margin-top: -15px;
        margin-left: -15px;
        font-size: 30px
    }
    .carousel-caption {
        left: 20%;
        right: 20%;
        padding-bottom: 30px
    }
    .carousel-indicators {
        bottom: 20px
    }
}

#myCarousel .list-group {
    padding-right: 0;
}

#myCarousel  .list-group-item {
    padding: .86rem;
}

/*Carousel*/

.it-header-slim-wrapper .it-header-slim-wrapper-content .navbar-brand {
    color: #fff;
    font-size: 1em;
    padding: 0;
}

.navbar-custom .navbar-nav li a span {
    color:#fff;
}

.bg-dark h2, .bg-link h2 {
    color:#fff;
}
